.parent{
    margin-top: 3em;
    background-color: white;
}
.tablehead{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 14px;
    text-transform: uppercase; 
    color: #545F7D;
}
.icon{
    height: 30px;
    width: 30px;
    padding-left: 0.8em;
    cursor: pointer;
}
.doticon{
    height: 18px;
    width: 18px;
}
.status{
    background-color:#f5f5f7;
    text-align:'center';
    border-radius: 13px;
    padding: 0.1em 0.7em;
    color: #545F7D;
}
.navicon{
    height: 13px;
    width: 13px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.dropdownRow{
    display: flex;
    align-items: center;
}
.select{
    height: 40px;
    background-color:#e5e8ee;
    border-radius: 3px;
    padding-left: 0.3em;
    width: 60px;
    border: none;
    cursor: pointer;
}
.popover{
    width: 300px;
    margin-bottom: 2em;
}
.selectpop{
    height: 40px;
    border-radius: 3px;
    padding-left: 0.3em;
    width: 295px;
    cursor: pointer;
    background: #FFFFFF;
    opacity: 0.2;
    border: 1px solid #213F7D;
    border-radius: 8px;
    margin-top: 0.5em;
    font-size: 0.9em;
}
.inputpop{
    height: 40px;
    border-radius: 3px;
    padding-left: 0.3em;
    width: 295px;
    cursor: pointer;
    background: #FFFFFF;
    opacity: 0.2;
    border: 1px solid #213F7D;
    border-radius: 8px;
    margin-top: 0.5em;
    font-size: 0.9em;
    padding: 1em;
}
.poptitle{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 16px; 
    color: #545F7D;   
    
}
.nameDiv{
    margin-top: 1.3em;
}
.btnDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.btnOne{
    border: 1px solid #545F7D;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(84, 95, 125, 0.14);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    align-items: center;
    text-align: center;
    color: #545F7D;
    height: 40px;
    width: 100px;

}
.btnTwo{
    border: 1px solid #545F7D;
    border-radius: 8px;
    background: #39CDCC;;
    border: 1px solid rgba(84, 95, 125, 0.14);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    align-items: center;
    text-align: center;
    color:wh;
    height: 40px;
    width: 100px;

}


