.App {
  text-align: center;
}
textarea:focus, input:focus{
  outline: none;
}
.css-19kzrtu {
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}
/* *::-webkit-scrollbar-track {
  background: #b6b7b9
}

*::-webkit-scrollbar-thumb {
  background-color: #b6b7b9;
  border-radius: 20px;
  border: 3px solid #b6b7b9;
} */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

